@font-face {/*подключаем свои шрифты*/
    font-family: 'shrift1';/* 'даём сами имя шрифту'*/
    src: url(../fonts/10195.otf);/*перед скобками не должно быть пробелов*/
}
@font-face {/*подключаем свои шрифты*/
    font-family: 'shrift2';/* 'даём сами имя шрифту'*/
    src: url(../fonts/10406.ttf);/*перед скобками не должно быть пробелов*/
}
@font-face {/*подключаем свои шрифты*/
    font-family: 'shrift3';/* 'даём сами имя шрифту'*/
    src: url(../fonts/10200.ttf);/*перед скобками не должно быть пробелов*/
}
@font-face {/*подключаем свои шрифты*/
    font-family: 'shrift4';/* 'даём сами имя шрифту'*/
    src: url(../fonts/10053.ttf);/*перед скобками не должно быть пробелов*/
}
@font-face {/*подключаем свои шрифты*/
    font-family: 'shrift5';/* 'даём сами имя шрифту'*/
    src: url(../fonts/10401.otf);/*перед скобками не должно быть пробелов*/
}

::-webkit-scrollbar {
    display: none;
}

html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0;
    background: #e9ffc7;
}

#game {
    position: fixed;
    left: 0;
    width: 80%;
    height: 100%;
}

#gameCanvas {
    width: 100%;
    height: 100%;
}

#textInfo {
    position: absolute;
    margin-left: 10px;
    margin-top: 10px;
    padding: 0 300px 0 0;
}


#chat {
    position: fixed;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    display: flex;
    flex-flow: column;
}

.label {
    font-family: Play, serif;
    font-weight: 400;
    font-size: 30px;
    color: #F2F2F2;
    margin: auto;
}

.item {
    background-color: #78B518;
    border: 4px outset #808080;
    border-radius: 10px;
}

/*Nickname grid*/
.nick-container {
    flex: 0 1 auto;
    height: 50px;
}

/*Online players grid*/
.online-container {
    flex: 1 1 auto;
    max-height: 300px;
    display:flex;
}

.onlineBox {
    margin: 10px;
    background: black;
    flex: 1 0 auto;
}

/*Chat grid*/
.chat-container {
    flex-flow: column;
    flex: 1 1 auto;
    display:flex;
}

.chatMessagesBox {
    margin: 10px;
    background: black;
    flex: 1 1 auto;
}

.chatSendBox {
    margin: 0 10px 10px 10px;
    flex: 0 1 auto;
    display:flex;
}

input[type=button] {
    height: 28px;
    width: 28px;
    margin-left: 8px;
    background-image: url("images/send-button.png");
    background-size: contain;
}

input[placeholder] {
    font-family: Play, serif;
    font-weight: 600;
    font-size: 14pt;
    color: #999999;
}

.hpBarBlock {
    position: absolute;
    bottom: 20px;
    left: 30%;
    width: 40%;
    height: 30px;
    background-color: #f1f1f1;
}

.hpBar {
    height: 100%;
    width: 100%;
    line-height: inherit;
    color: #fff!important;
    background-color: #4CAF50!important;
}

.hpStatus {
    text-align: center!important;
    color: #fff!important;
}